# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
dist/
build/

# React Native
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
*.keystore
*.jks
*.orig
.expo/
.expo-shared/
*.expo

# Editor and IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log

# Misc
*.tmp
*.swp
*.bak

# Native Windows app
*.exe
*.dll
*.pdb
*.obj
*.lib
*.suo
*.user
*.userosscache
*.sln.docstates
